* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope';
}
html {
    background: radial-gradient(50% 50% at 50% 50%, rgba(18, 27, 62, 0) 0%, rgba(8, 12, 21, 0.5) 100%),
    linear-gradient(0deg, #121B3E, #121B3E),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100vw;
}
body {
    width: 100vw;
    height: 100%;
}
.wrappper {
    display: flex;
    flex-direction: column;
    width:100%;
    position: relative;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 50px;

    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.hidden {
    display: none;
}

.overlay {
    position: fixed;

    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}
@media (max-width: 800px) {
    .content {
        padding: 0 20px;

        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -o-transition: all .3s;

    }
}
@font-face {
    src: url("../fonts/Manrope-VariableFont_wght.ttf");
    font-family: 'Manrope';
}